@font-face{
    font-family: hindibold;
    src : url{fonts/hindibold.ttf};
    font-family: hindilight;
    src : url{fonts/hindilight.ttf}
}
/* font-family: 'Hind Siliguri', sans-serif; */
body{
   margin: 0px;
   padding: 0px;
}
section{
    padding: 80px;
}
img{max-width: 100%;}
a{text-decoration: none;}
.header-left {
    width: 500px;
    float: left;
}
.header{
  width: 100%;
  height: 70px;
  background-color: white;
}
.container{width: 1170px;margin: auto;display: table;}
.hd-logo {
    width: 277px;
    margin-top: -4px;
    display: block;
    font-family: sans-serif;
    color:#4286f5;
  
}
.hd-ul{
    float: right;
    margin-top: 8px;
    font-family: arial;
}
.hd-ul li{
    display: inline-block;
    padding: 15px 30px;
}
.hd-ul li a{
    text-align: center;
    color:#4286f5;
    letter-spacing: 1px;
}
.st-left{
    width: 588px;
    float: left;
}
.st-left h1{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}
.st-left h2{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: rgb(90, 89, 89);
    margin-top: -20px;
}
.st-left p{
    font-family: 'Poppins', sans-serif;
    color: darkgray;
    line-height: 27px;
}
.st-right{
    float: right;
    width: 466px;
}
.st-left a{
    display: block;
    margin-top: 30px;
    background-image: linear-gradient(140deg, #4286f5, #74a5f5);
    color: white;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 20px;
    font-family: arial;
    width: 86px;
}
.st-left a:hover{
    
    transition: 0.9s;
}
.section-top{
    background-image: url(images/bgst.jpg);
    background-repeat: no-repeat;
    height: 80vh;
    /* position: relative; */
    overflow: hidden;
}
.half-width{
    margin-top: 100px;
}
.app-content{
    width: 200px;
    padding: 11px;
    float: left;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 20px 0px #d9d8d9;
    margin: 34px;
    line-height: 23px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #898787;
    margin-top: 42px;
}
secttion.st2 {
    display: block;
    margin: auto;
    margin-bottom: 75px;
}

.pupolar-app {
    display: table;
    margin-top: -20px;
}

.app-content img {
    margin-top: 15px;
    width: 70px;
}
.st2-text {
    font-size: 21px;
    font-family: 'Poppins';
    text-align: center;
}
.th3{
    background-color: rgba(191, 191, 191, 0.119);
    width: 100%;
    display: table;
}
.sv{
    width: 238px;
    text-align: center;
    float: left;
    margin: 10px;
    padding: 23px 17px;
    line-height: 25px;
    box-shadow: 0px 0px 17px 0px #c3c3c380;
    background: white;
    border-radius: 5px;
    transition: 0.5s;
    
}
.sv h2{
    font-size: 25px;
    font-family: poppins;
    color: #4169e1;
}
.sv p{
    font-size: 16px;
    font-family: emoji;
    color: #a4a4a4;
    line-height: 17px;
    font-weight: 100;
}
.sv img{
    width: 65px;
}
.sv:hover {
    transform: translate(0px, -20px);
    transform-origin: top;
    cursor: pointer;
}